body {
  height: 100vh;
  margin: 0;
  font-family: Poppins;
  background-color: #FFF6C7;
}


.page-grid {
  display: grid;

  height: 100vh;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
  grid-template-areas: "nav"
  "content"
  "footer";
  
}


                    /* NAV */
nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #C4FDE4;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.2);
}

nav img {
  height: 4em;
  padding: .5em;
  float: left;
}

nav a {
  font-family: "Indie Flower";
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding-left: 2em;
  padding-right: 2em;
  text-decoration: none;
}

nav a:hover {
  background: linear-gradient(0deg, #FFE8EF 0%, #C4FDE4 100%);
  box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  
}

.current-nav, .current-nav:hover {
  background: linear-gradient(0deg, #FFF6C7 0%, #C4FDE4 100%);
}


                    /* PAGE CONTENT */
.content-grid {
  margin-top: 2%;
  grid-area: "content";
  grid-row: 2 / 3;
  height: 100%;
  display: grid;
  grid-template: 20% repeat(5, 1fr) / repeat(9, 1fr);
  gap: 10px;
  place-items: center / center;
  place-content: start center;
}

header {
  grid-row: 1 / 2;
  grid-column: span 9;
  text-align: center;
  line-height: 7em;
}


                                        /* LANDING PAGE */
.landing-card {
  grid-area: 2 / 5 / 4 / 8;
  padding: 1em;
  text-align: left;
  text-indent: 10%;
  background-color: #FFE8EF;
  border-radius: 8px;
  box-shadow: 1px .25em .5em 0 rgba(0, 0, 0, 0.2);
  transition: .3s;
}

.landing-card h4 {
  margin: .25em;
}

.landing-card h5 {
  margin: 0;
}

.landing-card:hover {
  box-shadow: 0 .5em 1em 0 rgba(0, 0, 0, 0.2);
  transition: .3s;
  transform: scale(1.01);
}

.landing-img {
  border-radius: 8px;
  box-shadow: 1px .25em .5em 0 rgba(0, 0, 0, 0.2);
  transition: .3s;
  max-height: 100%;
  max-width: 100%;
  z-index: 10;
}

.landing-img:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.landing-img:active {
  box-shadow: 0 .75em .5em .25em rgba(0, 0, 0, 0.2);
  transform: scale(3.2);
  z-index: 100;
}

#a1 {
  grid-area: 2 / 3;
}

#b1 {
  grid-area: 2 / 4;
}

#a2 {
  grid-area: 3 / 3;
}

#b2 {
  grid-area: 3 / 4;
}


                                        /* ABOUT PAGE */
#about {
  grid-area: 2 / 3 / 6 / 8;
  }

.about-card {
  margin: 0;
  max-height: 100%;
  max-width: 100%;
  padding: 1em;
  text-align: left;
  background-color: #FFE8EF;
  border-radius: 8px;
  box-shadow: 1px .25em .5em 0 rgba(0, 0, 0, 0.2);
  transition: .3s;
  display: flex;
  column-gap: 1em;
  flex-flow: row;
  
}

.about-card:hover {
  box-shadow: 1px .5em 1em 0 rgba(0, 0, 0, 0.2);
  transition: .3s;
  transform: scale(1.05);
}

.about-card figure {
  display: block;
  margin: 0;
  min-width: 30%;
}

.about-card img {
  display:block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3px;
  /* transform:translateY(-5%); */
}


                                        /* HOBBIES PAGE */
.hobby-card {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #FFE8EF;
  border-radius: 8px;
  box-shadow: 1px .25em .5em 0 rgba(0, 0, 0, 0.2);
  transition: .3s;
}

.hobby-card:hover {
  box-shadow: 0 .75em .5em .25em rgba(0, 0, 0, 0.2);
  transition: .3s;
  transform: scale(1.15);
  z-index: 10;
}

#hobbies:hover > .hobby-card:not(:hover) {
  filter: blur(2px) saturate(.8);
}

.hobby-card figure {
  margin: 0;
}

.hobby-card img {
  width: 90%;
  border-radius: 3px;
}

.hobby-card p {
  padding: .5em;
}

.hobby-card h4 {
  margin: .5em;
}

/* POSITIONING OF HOBBY CARDS */
#hobbies {
  grid-area: 2 / 3 / 6 / 8;
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
  gap: 1em;
}

.hobby-card#left-hobby {
  grid-area: 2 / 3 / 4 / 4;
}

.hobby-card#center-hobby {
  grid-area: 2 / 4 / 4 / 5;
}

.hobby-card#right-hobby {
  grid-area: 2 / 5 / 4 / 6;
}

                    /* FOOTER */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #C4FDE4;
  line-height: 30px;
  box-shadow: inset 1px 2px .25em 0 rgba(0, 0, 0, 0.2);
}

footer a {
  text-decoration: none;
  color:black;
  float: right;
  padding-right: .6em;
  font-size: .75em;
}

footer a:hover {
  text-decoration: underline;
}

footer a:visited {
  font-style: italic;
}


                    /* FONTS */
h1 {
  font-size: 3em;
  font-weight: 700;
  font-family: "Indie Flower";
}

h3 {
  font-size: 1.5em;
  font-weight: 600;
}

h4 {
  font-size: 1.25em;
  font-weight: 600;
}

h5 {
  font-size: 1em;
  font-weight: 700;
}

p {
  font-size: .9em;
}

figcaption {
  font-family: "Indie Flower";
  font-size: .7em;
}